@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 12px;
    border-radius: 14px;
}

/* Track */
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 14px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
    height: 1rem;
    border-radius: 15px;
}